apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  namespace: ums
  labels:
    app: payment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: docker.io/dtummidibits/ums-payment-service:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_URL
              value: postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@postgres:5432/$(POSTGRES_DB)
            - name: RABBITMQ_URL
              value: amqp://$(RABBITMQ_USER):$(RABBITMQ_PASSWORD)@rabbitmq:5672/
            - name: RABBITMQ_EXCHANGE
              valueFrom:
                configMapKeyRef:
                  name: payment-config
                  key: RABBITMQ_EXCHANGE
            - name: RABBITMQ_ROUTING_KEY
              valueFrom:
                configMapKeyRef:
                  name: payment-config
                  key: RABBITMQ_ROUTING_KEY
            - name: PAYMENT_QUEUE
              value: "payment_queue"
          envFrom:
            - secretRef:
                name: ums-secrets
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: payment
  namespace: ums
  labels:
    app: payment
spec:
  selector:
    app: payment
  ports:
    - name: http
      port: 80
      targetPort: 8000
  type: NodePort